{% extends "registration/base_auth.html" %}
{% load i18n %}

{% block title %}{% translate "Choose a new password" %} · {{ SITE_NAME }}{% endblock %}
{% block auth_heading %}{% translate "Choose a new password" %}{% endblock %}

{% block auth_body %}
  {% if validlink %}
    <form method="post" novalidate>
      {% csrf_token %}
      {% include "partials/_form_errors.html" %}
      {% for field in form %}{% include "components/_field.html" %}{% endfor %}
      {% include "components/_button.html" with text=_("Save new password") full=True %}
    </form>
  {% else %}
    <div class="form-errors" role="alert">
      {% include "components/_icon.html" with name="alert-circle" %}
      <p>{% translate "This reset link is invalid or has already been used." %}</p>
    </div>
    {% url 'accounts:password_reset' as reset_url %}
    {% include "components/_button.html" with text=_("Request a new link") href=reset_url full=True %}
  {% endif %}
{% endblock %}
