{% extends "registration/base_auth.html" %}
{% load i18n %}

{% block title %}{% translate "Change password" %} · {{ SITE_NAME }}{% endblock %}
{% block auth_heading %}{% translate "Change password" %}{% endblock %}
{% block auth_intro %}
  <p class="auth-card__aside">{% translate "Signed in as" %} <strong>{{ user }}</strong></p>
{% endblock %}

{% block auth_body %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include "partials/_form_errors.html" %}
    {% for field in form %}{% include "components/_field.html" %}{% endfor %}
    {% include "components/_button.html" with text=_("Save new password") full=True %}
  </form>
{% endblock %}
