{% extends "registration/base_auth.html" %}
{% load i18n %}

{% block title %}{% translate "Reset password" %} · {{ SITE_NAME }}{% endblock %}
{% block auth_heading %}{% translate "Reset password" %}{% endblock %}
{% block auth_intro %}
  <p class="auth-card__aside">
    {% translate "Enter the email address on the account. We will send a link to choose a new password." %}
  </p>
{% endblock %}

{% block auth_body %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include "partials/_form_errors.html" %}
    {% for field in form %}{% include "components/_field.html" %}{% endfor %}
    {% include "components/_button.html" with text=_("Send reset link") full=True %}
  </form>
  <p class="auth-card__aside">
    <a href="{% url 'accounts:login' %}">{% translate "Back to sign in" %}</a>
  </p>
{% endblock %}
